* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
    font-family: RobotoRegular, Tahoma;
	-webkit-appearance: none;
}
input{
	outline: none;
	border: 0;
}

b{
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
section, header, footer{
	position: relative;
	min-width: 380px;
	width: 100%;
	background-position: center top;
	background-repeat: no-repeat;
}
a{
	display: block;
	text-decoration: none;
	transition: all 400ms;
}
ul{
	list-style: none;
}
hr {
	height: 2px;
	background: #ccc;
	box-sizing: border-box;
	width: 100%;
	margin: 30px 0px;
	border: 0px solid;
}
:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-input-placeholder {
	color: transparent;
}
:focus::-input-placeholder {
	color: transparent;
}

.clear{
	clear: both;
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/RobotoThin.eot');
    src: url('../fonts/RobotoThin.eot') format('embedded-opentype'),
         url('../fonts/RobotoThin.woff2') format('woff2'),
         url('../fonts/RobotoThin.woff') format('woff'),
         url('../fonts/RobotoThin.ttf') format('truetype'),
         url('../fonts/RobotoThin.svg#RobotoThin') format('svg');
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/RobotoBlack.eot');
    src: url('../fonts/RobotoBlack.eot') format('embedded-opentype'),
	     url('../fonts/RobotoBlack.svg') format('svg'),
         url('../fonts/RobotoBlack.woff2') format('woff2'),
         url('../fonts/RobotoBlack.woff') format('woff'),
         url('../fonts/RobotoBlack.ttf') format('truetype');

}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
	     url('../fonts/RobotoLight.svg') format('svg'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype');

}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('../fonts/RobotoBoldCondensedItalic.eot');
    src: url('../fonts/RobotoBoldCondensedItalic.eot') format('embedded-opentype'),
         url('../fonts/RobotoBoldCondensedItalic.woff') format('woff'),
         url('../fonts/RobotoBoldCondensedItalic.ttf') format('truetype'),
         url('../fonts/RobotoBoldCondensedItalic.svg#RobotoBoldCondensedItalic') format('svg');
}

@font-face {
    font-family: 'TahomaBold';
    src: url('../fonts/TahomaBold.eot');
    src: url('../fonts/TahomaBold.eot') format('embedded-opentype'),
         url('../fonts/TahomaBold.woff') format('woff'),
         url('../fonts/TahomaBold.ttf') format('truetype'),
         url('../fonts/TahomaBold.svg#TahomaBold') format('svg');
}
img{
	border:0;
}

header{
	background: #e60500;
	min-height: 110px;
}

.back {

	float: left;
    overflow: hidden;

	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: -1px;
	color: #fff;
	font-family: 'RobotoBlack';
	margin: 34px 20px 27px 30px;
	cursor: pointer;
}
.back:before {
	background: url(../images/m-left.png) no-repeat;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 10px 0px 0px;
	content: "";
	display: inline-block;
}


.menu { background: url('../images/m-hamb-icon.png'); float: left; text-indent: -1000em; overflow: hidden; width: 50px; height: 50px; opacity: .9; margin: 27px 20px 27px 30px; cursor: pointer; }

.logo{
	float: left;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: -1px;
	padding: 34px 0 25px 0;
	color: #fff;
	font-family: 'RobotoBlack';
}
.logo b{
	color: #000;
}

.header-messages{
	width: 80px;
	float: right;
	height: 90px;
	margin: 10px;
	position: relative;
	display: inline-block;
	text-align: center;
	opacity: 1;
	background: url(../images/m_messages.png) center no-repeat;
    overflow: hidden;
}
.messages-counter {
	height: 30px;
	min-width: 30px;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 15px;
	color: #000;
	font-size:22px;
	font-family: RobotoBlack;
	background: #ffcd03;
	padding: 5px 9px 2px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.29);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.29);
}

.add{
	float: right;
	width: 70px;
	height: 70px;
	display: block;
	line-height: 80px;
	border-radius: 15px;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 60px;
	font-family: 'RobotoBlack';
	color: #e60803;
	background: #ffcd03;
	margin: 20px 30px 10px 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.29);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.29);
}
.add:hover{
	background: #fff;

}
.search{
	width: 70px;
	float: right;
	height: 90px;
	margin: 10px;
	position: relative;
	display: inline-block;
	text-align: center;
	opacity: 0.8;
	background: url(../images/m_search.png) center no-repeat;
    overflow: hidden;
	text-indent: -1000em;

}
.white{
	background: #fff;
}
.gray{
	background: #f3f3f3;
}
.wrap{
	padding: 15px 30px;
	display: block;
}
.list-search-wrap{
	padding: 15px 0px 15px 30px;
	display: inline-block;
	width: 55%;
}

.list-search-filter{
	padding: 15px 30px 15px 30px;
	display: inline-block;
}

.list-search-filter a{
	font-size: 30px;
	font-family: RobotoMedium;
	color: #e60803;
}
.list-search-filter a:after{
    background: url("../images/m-redafter.png") no-repeat;
    content: "";
    display: block;
    float: right;
    height: 10px;
    margin-left: 10px;
    margin-top: 15px;
    width: 16px;
}


.index-search{
	position: relative;
}
.index-search h1 {
	font-size: 30px;
	font-family: RobotoLight;
	line-height: 35px;
	margin: 10px 0px;
	color: #000;
}
.index-search input {
	display: table-cell;
	height: 80px;
	width: 100%;
	background: url(../images/m_search_bg.png) no-repeat #fff;
	background-position: 10px 23px;
	padding-left: 70px;
	border-radius: 5px;
    border: 0px solid #fff;
	box-sizing: border-box;
	text-overflow: ellipsis;
	font-size: 30px;
	font-family: RobotoMedium;

	-webkit-box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.45);
	-moz-box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.45);
	box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.45);
	-webkit-appearance: none;
}

.index-categories{
	position: relative;
}
.index-categories .category { border-top: 2px solid #c4c4c4; color: #000; font-family: "RobotoBlack"; font-size: 36px; line-height: 24px; padding: 37px 10px 30px 70px; box-shadow: 0 2px 0 0 #fff inset; position: relative; }
.index-categories .category:after { content: ''; position: absolute; top: 32px; right: 20px; width: 20px; height: 30px; background: url('../images/m-right.png') no-repeat center; }
.index-categories .category img { position: absolute; left: 20px; top: 50%; margin-top: -15px; }

.categories{
	position: relative;
}
.categories .wrap a{
	border-top: 2px solid #c4c4c4;
    color: #000;
    font-family: "RobotoMedium";
    font-size: 36px;
    line-height: 24px;
    vertical-align: middle;
	padding: 37px 10px 30px 20px;
	background-position: 13px 30px !important;
	box-shadow: 0px 2px 0px 0px #fff inset;
	position: relative;
}

.categories .wrap  h1 {
	font-size: 46px;
	font-family: RobotoBlack;
	line-height: 46px;
	margin: 30px 20px 20px 20px;
	color: #000;
}
.categories .wrap  p {
	font-size: 24px;
	font-family: RobotoRegular;
	line-height: 24px;
	margin: 10px 20px;
	color: #000;
}



.list{
	position: relative;
}
.list h1 {
	font-size: 46px;
	font-family: RobotoBlack;
	line-height: 46px;
	margin: 40px 30px 25px 30px;


}
.list-item{
	box-shadow: 0px 2px 0px 0px #fff inset;
	border-top: 2px solid #c4c4c4;
	padding: 20px 30px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;

}

.list-item-top{
	background: #c2fbd0 url("../images/m-top.png") no-repeat right top;
	box-shadow: 0px 2px 0px 0px #fff inset;
	border-top: 2px solid #c4c4c4;
	padding: 20px 30px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}
.list-item-top .list-item-title {
	margin-right: 50px;
}


.list-item-img{
	background: #f7f7f7 url("../images/photoapparat-big.png") no-repeat center center;
    float: left;
    height: 175px;
    margin: 0 23px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 230px;
}
.list-item-img a{
    background: #747474 url("../images/m-photo.png") no-repeat scroll 10px center;
    box-sizing: border-box;
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 21px;
    height: 30px;
    line-height: 16px;
    min-width: 40px;
    padding: 7px 10px 7px 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.list-item-img img {
	height: 100%;
}

.list-item-text{
	position: relative;
	display: block;

	margin-left: 260px;
	min-height: 175px;
	box-sizing: border-box;
}
.list-item-title{
	display: block;
	min-height: 130px;

}
.list-item-title a{
    font-size: 30px;
    line-height: 36px;
    color: #0066ff;
    font-family: "RobotoBold";
    word-wrap: break-word;
	margin-top: -6px;
}
.list-item-title p{
    font-size: 30px;
    line-height: 40px;
    color: #000;
    font-family: "RobotoBlack";
}

.list-item-title p b{
	font-family: "TahomaBold";
	font-size: 27px;
}
.list-item-info{
	color: #777;
	font-size: 18px;
	font-family: RobotoRegular;
	line-height: 24px;
	bottom: 0px;
	left: 0px;
	margin-top: 10px;
}
.list-item-info b{
	font-family: RobotoBlack;
}
.list-item-fav{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0px;
	background: url("../images/m-fav.png") no-repeat;
	opacity: 0.7;

}.list-item-fav-act{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0px;
	background: url("../images/m-fav-act.png") no-repeat;
	opacity: 0.7;

}


.item{
	position: relative;
}

.item-photoblock{
	position: relative;
	width: 100%;
	max-height: 650px;
	height: 400px;
    background-size: cover;
    background-position: 50% 50%;
	background-color: #ccc;
	background-repeat: no-repeat;
}

.item-title{
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	padding: 30px;
	background: rgba(0, 0, 0, 0.7);
	min-height: 125px;
	display: block;
	width: 100%;
}

.item-title h1{
	font-size: 46px;
	color: #fff;
	font-family: RobotoBlack;
	line-height: 46px;
	margin: 0 0 20px 0;
}
.item-title p{
    font-size: 40px;
    line-height: 36px;
    color: #fff;
	opacity: 0.8;
    font-family: "RobotoBlack";
}

.item-title p b{
	font-family: "TahomaBold";
	font-size: 38px;
}
.item-info{
	color: #ccc;
	font-size: 18px;
	font-family: RobotoRegular;
	line-height: 21px;
	bottom: 0px;
	right: 0px;
	position: absolute;
	padding: 30px;
	text-align: right;
}
.item-info b{
	font-family: RobotoBlack;
}
.item-n{
	color: #666;
	font-size: 18px;
	padding-bottom: 15px;
	font-family: RobotoRegular;
}
.item-table{
	color: #555;
	font-size: 24px;
	font-family: RobotoRegular;
	line-height: 24px;
	display: inline-block;
    vertical-align: top;

    width: 100%;
	box-sizing: border-box;
}

.item-table li{
    border-bottom: 1px solid #cccccc;

}
.t1{
    display: inline-block;
    vertical-align: top;
    width: 55%;
		padding: 12px 0px;
}
.t2{
    display: inline-block;
	font-family: RobotoBlack;
    vertical-align: top;
    width: 43%;
	color: #000;
	padding: 12px 0px;
}
.t2 a{
	color: #0066ff;
    font-family: "RobotoBold";
}

.item-text {
	margin: 20px 0px;
}

.item-text p{
	color: #000;
	font-size: 24px;
	font-family: RobotoMedium;
	line-height: 34px;
	margin: 0px 0px 15px 0px;
}
.item-every-photo {
	position: relative;
	width: 100%;
	height: 550px;
	box-shadow: 0px 0 180px -30px #222 inset;
    background-size: cover;
    background-position: 50% 50%;
	background-color: #ccc;
	background-repeat: no-repeat;
	margin-bottom: 3px;
}
.item-buttons {
	margin: 20px 30px;
	display: block;
	text-align: center;
	color: #000;
    font-family: "RobotoBlack";
    font-size: 24px;
}
.item-buttons a{
	display: inline-block;
	margin: 10px 20px;
	color: #000;
}
.item-buttons img{
	border: 0px;

	width: 100px;
	height: 100px;
}
.item-owner{
	background: #ededed;
	text-align: center;
	padding: 20px 20px 120px 20px;
	position: relative;
	font-size: 26px;
	line-height: 36px;
}
.item-owner-name {
    color: #000;
	display: inline-block;
    font-family: "RobotoBlack";
    font-size: 36px;
    position: relative;
}
.item-owner-name::before {
    background: rgba(0, 0, 0, 0) url("../images/author-name-before.png") no-repeat scroll 0 0;
    content: "";
    height: 36px;
	display: block;
	float: left;
	width: 36px;
	margin-top: 7px;
}
.item-owner-other{
	padding-top: 10px;
	font-family: "RobotoBlack";
    font-size: 36px;
	color: #0066ff;
}
.item-contacts{
    width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: #ccc;
	position: fixed;
	bottom: 0px;
	height: 100px;
}
.item-contacts-red{
    border-radius: 10px;
	box-sizing: border-box;
    display: inline-block;
	color: #fff;
    font-family: "RobotoBlack";
    font-size: 27px;
	padding: 25px 10px 20px 70px;
    height: 80px;
	width: 49%;
	min-width: 300px;
	float:left;
    position: relative;
	background-color: #e60803;

}
.item-contacts-red:before{
	background: url("../images/button-author.png") no-repeat scroll 0 0;
    content: "";
    height: 24px;
    left: 20px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 32px;
}

.item-phone{
	border-radius: 10px;
    background-color: #fff;
    font-family: "RobotoBlack";
    font-size: 27px;
    height: 80px;
    width: 49%;
	min-width: 300px;
	float:right;
	display: inline-block;
	padding: 0px 10px 0px 70px;
    position: relative;
	 vertical-align: top;
	box-sizing: border-box;
}
.item-phone:before{
    background: url("../images/redphone.png") no-repeat scroll 0 0;
    content: "";
    height: 29px;
    left: 27px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.item-phone p{
	color: #e60803;
	 vertical-align: top;
	display: inline-block;
	margin-top: 25px;
}
.show-phone {
	vertical-align: top;
	background-color: #e60803;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: "RobotoRegular";
    font-size: 18px;
    padding: 5px 10px;
	margin: 25px 10px;
}

.advertise{
	float: left;
	box-sizing: border-box;
    display: block;
    font-family: "RobotoBlack";
    font-size: 27px;
	color: #e60803;
	height: 80px;
	width: 49%;
	line-height: 30px;
	background: #ffcd03;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
`	vertical-align: middle;
	padding: 25px 10px;
	text-align: center;
}
.myads-messages:before{
    background: rgba(0, 0, 0, 0) url("../images/m-messages.png") no-repeat;
    content: "";
    height: 35px;
    position: relative;
    width: 57px;
	padding: 3px 30px;
}
.myads-messages{
	float: right;
	box-sizing: border-box;
    font-family: "RobotoRegular";
    font-size: 27px;
	color: #e60803;
	line-height: 35px;
	height: 80px;
	width: 49%;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
`	vertical-align: middle;
	padding: 25px 10px;
	text-align: center;
}
.myads-dropdown{
	box-sizing: border-box;
	background: #fff none repeat scroll 0 0;
    border: 0 solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3) inset;
    height: 60px;
    margin: 0;
	position: relative;
    color: #444;
    font-family: "RobotoRegular";
    line-height: 30px;
	font-size: 30px;
}
.myads-title{
	position: relative;
	box-sizing: border-box;
}
.myads-title .wrap{
	position: relative;
	box-sizing: border-box;
	padding: 30px 30px 30px 100px;
}
.myads-title h1 {
	margin: 0px 0px 20px 0px;
	font-size: 60px;
	color: #4c4c4c;
	font-family: RobotoBlack;
	line-height: 60px;
	display: block;
}
.selected{
	overflow: hidden;
	box-sizing: border-box;
    display: inline-block;
	padding: 15px 60px 20px 10px;
	vertical-align: middle;
    white-space: pre-wrap;
}
.carat {
    position: absolute;
    right: 20px;
    top: 45%;
	background: url("../images/m-blackafter.png") no-repeat;
    border: 0 none;
    height: 10px;
    width: 16px;
	opacity: 0.5;
}


label input[type="checkbox"] {
    display: none;
}
label input[type="checkbox"] + span {
    background: rgba(0, 0, 0, 0) url("../images/m-check.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 35px;
    margin-top: 3px;
    width: 35px;
}
label input[type="checkbox"]:checked + span {
    background: rgba(0, 0, 0, 0) url("../images/m-check-select.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
}

.myad-views:before {
    background: rgba(0, 0, 0, 0) url("../images/views-big.png") no-repeat scroll 0 0;
    content: "";
    height: 30px;
	left: -40px;
    position: absolute;
    width: 35px;
}
.myad-views{
    color: #444;
    font-family: "RobotoRegular";
    line-height: 27px;
	font-size: 27px;
	margin: 0 20px 0 50px;
	position: relative;
}
.myad-phone:before {
    background: rgba(0, 0, 0, 0) url("../images/phone-big.png") no-repeat scroll 0 0;
    content: "";
    height: 30px;
	left: -34px;
    position: absolute;
    width: 30px;
}
.myad-phone{
    color: #444;
    font-family: "RobotoRegular";
    line-height: 27px;
	font-size: 27px;
	margin: 0 20px 0 50px;
	position: relative;
}
.myad-messages:before {
    background: rgba(0, 0, 0, 0) url("../images/messages-big.png") no-repeat scroll 0 0;
    content: "";
    height: 30px;
	left: -40px;
    position: absolute;
    width: 35px;
}
.myad-messages{
    color: #e60803;
    font-family: "RobotoRegular";
    line-height: 27px;
	font-size: 27px;
	margin: 0 20px 0 50px;
	position: relative;
}
.myad-messages-none:before {
    background: rgba(0, 0, 0, 0) url("../images/messages-big-none.png") no-repeat scroll 0 0;
    content: "";
    height: 30px;
	left: -40px;
    position: absolute;
    width: 35px;
}
.myad-messages-none{
    color: #444;
    font-family: "RobotoRegular";
    line-height: 27px;
	font-size: 27px;
	margin: 0 20px 0 50px;
	position: relative;
}
.myad-buttons{
	position: relative;
    margin: 10px 0px 0 40px;
}
.myad-buttons a{
    display: inline-block;
    margin: 7px 20px;
	vertical-align:top;
}
.myad-buttons img{
	width: 60px;
	height: 60px;
}
.myads-adv{
    background: #ffcd03 none repeat scroll 0 0;
    border-radius: 10px;
    color: #e60803;
    font-family: "RobotoBlack";
    font-size: 30px;
    line-height: 30px;
    padding: 15px 25px;
    text-align: center;
}
.myads-actions{
    width: 100%;
	box-sizing: border-box;
	padding: 20px 30px 20px 100px;
	background: #ccc;
	position: fixed;
	bottom: 0px;
	font-family: "RobotoRegular";
    font-size: 30px;
}
.myads-actions a{
    background: #e60803 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-family: "RobotoBlack";
    font-size: 30px;
    line-height: 30px;
    padding: 15px 35px;
    text-align: center;
	margin: 10px 10px 0px 0px;
	display: inline-block;
}
.frms{
	font-size: 36px;
	text-align: center;

}
.frms p {
	margin: 5px 0px 25px 0px;
}
.frms h1 {
	margin: 20px 0px 30px 0px;
	font-size: 60px;
	color: #4c4c4c;
	font-family: RobotoBlack;
	line-height: 60px;
	display: block;
	text-align: center;
}
.frms-ok {
    color: #49782a !important;
    font-family: "RobotoBlack";
    font-size: 60px;
	line-height: 60px;
	margin: 20px 0px 30px 0px;
    text-align: center;
}

.frms input{
	background: #fff none repeat scroll 0 0;
    border: 0 solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3) inset;
    box-sizing: border-box;
    color: #444;
    font-family: "RobotoRegular";
    font-size: 36px;
    height: 80px;
	width: 100%;
    line-height: 30px;
    margin: 0 0 25px 0;
	padding: 10px;
	display: block;
    position: relative;
}
.frms label{
	display: inline-block;
	margin-bottom: 20px;
}
.frms span{
	float: left;
	margin-top: 0px !important;
}
.frms label p{
	float: left;
	width: initial;
    color: #000;
	margin: 0;
    font-family: "RobotoRegular";
	padding: 0px 15px;
}

.frms input[type="submit"] {
    background-color: #e60803;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-family: "RobotoBlack";
    font-size: 60px;
    height: 120px;
    padding: 25px 10px 20px 10px;
    position: relative;
    width: 100%;
	display: block;
	cursor: pointer;
}
.frms a {
	text-align: center;
	color: #0066ff;
	display: inline-block;
	font-size: 36px;
	text-decoration: underline;

}
.frms-fb:before {
    background: url("../images/m-fb.png") no-repeat;
    content: "";
    height: 48px;
    padding: 3px 35px;
    position: relative;
    width: 47px;
}
.frms-fb{
    background-color: #3b589c;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff !important;
	text-decoration: none !important;
    float: left;
    font-family: "RobotoBlack";
    font-size: 42px;
    height: 120px;
    padding: 40px 10px 30px 10px;
    position: relative;
    width: 100%;
	cursor: pointer;
	text-align: center;
	margin-bottom: 20px;
}
.frms-gray{
    background-color: #9e9e9e;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff !important;
	text-decoration: none !important;
    float: left;
    font-family: "RobotoBlack";
    font-size: 42px;
    height: 120px;
    padding: 40px 10px 30px 10px;
    position: relative;
    width: 100%;
	cursor: pointer;
	text-align: center;
	margin-bottom: 20px;
}


.add-photo-block{
	box-sizing: border-box;
	width: 100%;
	margin: 0px 0px 0px -3px;
}
.add-photo{
	padding: 7px;
	box-sizing: border-box;
    display: inline-block;
    height: 140px;
    width: 25%;
}
.add-photo a{
    background: #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
	color: #f08e8d;
    text-align: center;
	vertical-align: middle;
	height: 125px;
	position: relative;
}
.add-photo-act{
	padding: 7px;
	box-sizing: border-box;
    display: inline-block;
    height: 140px;
    width: 25%;
}
.add-photo-act a {
	background: #fac5ad !important;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
	color: #f08e8d;
	border-radius: 5px;
    text-align: center;
	vertical-align: middle;
	height: 125px;
	position: relative;
}
.add-photo p,
.add-photo-act p {
	background: #fff none repeat scroll 0 0;
    border-radius: 25px;
	box-shadow: 0 0 1px 2px rgba(250, 197, 173, 1);
    display: inline-block;
    font-family: "RobotoBlack";
    font-size: 42px;
    height: 50px;
    line-height: 50px;
	margin-top: 40px;
    top: 50%;
    width: 50px;
	color: #f08e8d;
    text-align: center;
}
.add-photo-act span{
	position: absolute;
	width: 100%;
	bottom: 5px;
	left: 0px;
	font-family: RobotoBoldCondensedItalic;
	font-size: 18px;
	color:#e60803;
	margin: 5px 0px;
}
.add-hr{
	height: 2px;
	background: #999;
	box-sizing: border-box;
	width: 100%;
	margin: 0px 0px;
	border: 0px solid;
}
.add-area{
	height: 100px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
}
.add-area textarea {
	height: 45px;
	width: 96%;
	padding: 10px 0px;
	font-size: 40px;
	line-height: 45px;
    font-family: "RobotoMedium";
	margin: 0;
	border: 0;
    text-align: left;
    resize: vertical;
    background: transparent none;
    -webkit-appearance: none;
}
.add-area select {
	height: 45px;
	width: 96%;
	padding: 10px 0px;
	font-size: 40px;
	line-height: 45px;
    font-family: "RobotoMedium";
	margin: 0;
	border: 0;
    text-align: left;
    resize: vertical;
    background: transparent none;
    -webkit-appearance: none;
}
.add-info {padding: 10px 30px 40px 30px}
.add-count {
	width: 30px;
	height: 30px;
	padding-top: 17px;
	font-family: "RobotoLight";
	font-size: 24px;
	float: right;

}
.add-button{
    background-color: #e60803;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "RobotoBlack";
    font-size: 60px;
    height: 120px;
    padding: 25px 10px 20px;
    position: relative;
    width: 100%;
	margin: 20px 0px;
}
.b21 {
	font-size: 21px;
}
.b40 {
	font-size: 40px;
}
.g21 {
	color: #307800;
	font-size: 21px;
	margin: 10px 0px;
}
.text {
    font-size: 30px;
	font-family: "RobotoMedium";;
}
.title {
    font-size: 35px;
    font-weight: 900;
    line-height: 39px;
    padding-left: 30px;
}
.info {
    font-size: 22px;
    line-height: 33px;
    padding-left: 30px;
    padding-bottom: 5px;
	font-family: "RobotoRegular";
}
.search-filter input[type="search"] {
    width: 73%;
}
.search-filter span {
    color: #e60803;
    font-size: 29px;
    font-weight: 400;
    padding-left: 4%;
}
.search-filter i {
    font-size: 20px;
}
.search-filter span:hover {
    cursor: pointer;
	text-decoration: underline;
}
.category-list {
	padding-top: 10px;
}
.category-list-item {
    height: 220px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 0 0 rgba(196, 196, 196, 0);
    overflow: hidden;
    transition: box-shadow 0.1s ease;
}

.category-list-item:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.category-list-item-image {
    flex-grow: 1;
    width: 230px;
    margin: 20px 20px;
    background: url("../images/list-image.jpg") no-repeat center / cover;
}

.category-list-item-info {
    flex-grow: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    width: 350px;
    align-content: space-around;
}

.category-list-item-top {
    background: #c2fbd0;
}

.category-list-item-info-title {
    color: #0066ff;
    font-size: 28px;
    font-weight: 700;
}

.category-list-item-info-price {
    font-size: 30px;
    font-weight: 900;
}

.category-list-item-info-desc {
    color: #3c4d40;
    font-size: 18px;
    font-weight: 500;
    max-height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-list-item-info-date {
    color: #45594a;
    font-size: 18px;
    font-weight: 500;
}
.filter.wrap {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.filter .info {
	color: #5b8e42;
	padding-left: 0;
}
.title-padding {
    font-size: 35px;
    font-weight: 900;
    line-height: 39px;
    padding-left: 0;
}
.breadcrumbs {
	margin-bottom: 18px;
	font-size: 14px;
	line-height: 1.5;
	font-family: 'RobotoRegular';
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    position: relative;
}
.breadcrumbs a {
  font-size: 24px;
  color: rgba( 0, 0, 0, 0.769 );
    text-decoration: none;
}
.breadcrumbs li:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 13px;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    right: -18px;
    background: url('../images/list-menu-top-mobile.png') no-repeat;
}
.index-categories .filter .category::after {
	background: none;
}
.index-categories .filter .category {
	padding: 20px 0;
}
.breadcrumbs li:first-child {
    display: block;
    vertical-align: top;
    margin-right: 24px;
    position: relative;
}